@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-backround-color: #ffffff;
  --primary-text-color: #1d1d1f;
  --info-container-color: #f5f5f7;
  --primary-description-text-color: #6d6d72;

  --glass-effect-color: rgba(232, 232, 237, 0.7);
  --glass-effect-box-shadow: rgba(0, 0, 0, 0.11);
  --glass-effect-hover-color: rgba(223, 223, 227, 0.698);
  --icon-color: #29292a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-backround-color: #000000;
    --primary-text-color: #f5f5f7;
    --info-container-color: #1c1c1e;
    --primary-description-text-color: #86868b;

    --glass-effect-color: rgba(44, 44, 47, 0.6);
    --glass-effect-box-shadow: rgba(255, 255, 255, 0.15);
    --glass-effect-hover-color: rgba(58, 58, 60, 0.6);
    --icon-color: #f5f5f7;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
input,
button,
textarea,
select,
label,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-backround-color);
  padding-top: 0;
  font-family: "Roboto", sans-serif;
}

#map {
  width: 100%;
  height: 100vh;
}

.navBar {
  width: 100%;
  height: 55px;
  position: fixed;
  bottom: 30px;
  left: 0;
  gap: 8px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.glassEffect {
  --webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: var(--glass-effect-color);
  border-radius: 32px;
  box-shadow: inset 0 0 1px var(--glass-effect-box-shadow);
}

.searchBar {
  max-width: 230px;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.locationBtnCon {
  width: 55px;
  height: 55px;
  pointer-events: all;
}
