:root {
  --primary-backround-color: #101014;
  --primary-text-color: #f5f5f7;

  --brand-color: #fa3c00;

  --backdrop-filter-blur: blur(7px);
}

@font-face {
  font-family: "OpenRunde";
  src:
    url("/assets/fonts/OpenRunde-Regular.woff2") format("woff2"),
    url("/assets/fonts/OpenRunde-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenRunde";
  src:
    url("/assets/fonts/OpenRunde-Medium.woff2") format("woff2"),
    url("/assets/fonts/OpenRunde-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenRunde";
  src:
    url("/assets/fonts/OpenRunde-Semibold.woff2") format("woff2"),
    url("/assets/fonts/OpenRunde-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenRunde";
  src:
    url("/assets/fonts/OpenRunde-Bold.woff2") format("woff2"),
    url("/assets/fonts/OpenRunde-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
input,
button,
textarea,
select,
label,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-backround-color);
  padding-top: 0;
  font-family: "OpenRunde", sans-serif;
}

.blurEffect {
  border-radius: 32px;
  background-color: rgba(42, 42, 45, 0.6216);
  --webkit-backdrop-filter: var(--backdrop-filter-blur);
  backdrop-filter: var(--backdrop-filter-blur);
  transition: 0.15s ease-in-out;
}

.blurEffect:hover {
  background-color: rgba(58, 58, 61, 0.622);
}

.blurEffect::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(
    115deg,
    rgba(111, 111, 118, 0.3) 0%,
    rgba(42, 42, 45, 0) 50%,
    rgba(111, 111, 118, 0.3) 100%
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

/* ====== Main ====== */
main {
  max-width: 625px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 176px;
  padding: 0 30px;
  box-sizing: border-box;
  gap: 60px;
}

.firstMainSec {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.firstMainHeader {
  font-size: 32px;
  font-weight: 500;
  color: var(--primary-text-color);
}

#locationText {
  color: var(--brand-color);
}

.firstMainPickCon {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.firstMainSelect {
  height: 56px;
  width: auto;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-text-color);
  border: none;
  padding: 0 16px;

  background-color: #202024;
  border-radius: 32px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("/assets/icons/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 24px;

  padding-right: 56px;
  cursor: pointer;
}

.firstMainSelect option {
  background-color: #202024;
  color: var(--primary-text-color);
}

#mainSec {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
}

.itemCountCon {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.itemCountText {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-text-color);
}

.mainSecItem {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
}

.itemFirstCon {
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.itemPriceCon {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
}

.itemPriceConValueCon {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

.itemPriceConValueText {
  font-size: 24px;
  font-weight: 500;
  color: var(--primary-text-color);
}

.itemPriceConValueSecText {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-text-color);
  margin-top: 2px;
}

.itemPriceConLogo {
  width: 54px;
  height: 20px;
}

.itemFirstConInfoCon {
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
}

.itemFirstConInfoConHeader {
  font-size: 22px;
  font-weight: 500;
  color: var(--primary-text-color);
  margin: 6px 0 5px 0;
}

.itemFirstConInfoConDescription,
.itemFirstConInfoConLink {
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-text-color);
}

.itemFirstConInfoConLink {
  text-decoration: underline;
  cursor: pointer;
}

.itemSecCon {
  width: auto;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

.itemSecConRed {
  background-color: rgba(217, 0, 0, 0.1);
}

.itemSecConInfoText {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-text-color);
}

.itemSecConInfoTextRed {
  color: #d90000;
}

@media only screen and (max-width: 740px) {
  footer {
    padding-bottom: 65px;
  }
}

@media only screen and (max-width: 575px) {
  .mainSecItem {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .itemFirstCon {
    width: 100%;
  }
}

.loadingAnimation {
  width: 250px;
  height: auto;
}
